/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background-color: #276332;
    background-image: url("../graphics/noise.png");
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}





/* ==========================================================================
   Andrew's adaptation of Leif's styling
   ========================================================================== */

.page-select .main {
	width:320px;
	margin:0 auto;
	font-family: Helvetica, Sans-Serif;
	color:#D2FFB4;
	text-shadow: 0px -1px #000;	
}

.page-select #info {
	margin:10px;
	text-align: center;
}

.page-select .category {
	height:50px;
	width:320px;
}

.page-select .categoryName {
	background: rgba(255,0,0,.2);
	width:216px;
	height:42px;
}

.page-select .types {
	width:100%;
}

.page-select .type {
	width:100%;
	height:42px;
	margin:0px;
	padding:0px;
}

.page-select .typeCheckbox {
	background: rgba(255,0,0,.2);
	width:42px;
	height:42px;
	text-align:center;
	margin-left:10px;
}


.page-select .typeName {
	position:relative;
	background: rgba(255,0,0,.2);
	width:216px;
	height:42px;
	font-weight: bold;
}

.page-select .typeInfoButton {
	background: rgba(255,0,0,.2);
	text-align:center;
	font-family: times;
	font-style: oblique;
	font-weight: bold;
	font-size: 20px;
	width:42px;
	height:42px;
	margin-right:10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.page-home .main {
	width:320px;
	margin:0 auto;
	text-align: center;	
}

.page-home #logo {
	margin-top:40px;
	margin-bottom:10px;
	width:128px;
}

.page-home #name {
	/* Text details */
	text-align:center;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size:20px;
	color: #D2FFB4;
	text-shadow: 0px -1px #000;
	padding-bottom:20px;
	margin-bottom:20px;
}

.page-home #info {
	/* Text details */
	text-align:center;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	color: #D2FFB4;
	text-shadow: 0px -1px #000;
	margin-bottom:10px;

	font-size:16px;
	font-weight:normal;
}
.page-home #geoLocationButton {
	height:42px;
	width:280px;
	margin:0 auto;
	margin-bottom:10px;
}
.page-home #geoLocationSpin {
	position: relative;
	right:10px;
	top:5px;
	background: #FFF;
	width:32px;
	height:32px;
}
.page-home #geoCode {
	width:280px;
	margin:0 auto;
	margin-bottom:10px;
}
.page-home #geoCodeInput input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
	background-color: #D2FFB5;
	box-shadow: 0px -1px 0px 0px #000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:5px;
	height:42px;
	width:180px;
	border:none;
	margin-right:10px;
	font-family:;
	font-size:14px;
	font-weight:;
}
/* Changes the color of the placegolder text*/
input::-webkit-input-placeholder { color:    #276332; }
input:-moz-placeholder { color:    #276332; }
input:-ms-input-placeholder { color:    #276332;}

.page-home #geoCodeButton {
	height:42px;
	width:90px;
}

.page-home #geoLocationButton p{
	position:relative;
	top:10px;
}
.page-home #geoCodeButton p{
	position:relative;
	top:-5px;
}


/*
	Describes the buttons that they user can click on.
*/
.button{
	/* Text details */
	text-align:center;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	color: #D2FFB4;
	text-shadow: 0px -1px #000;

	box-shadow: 0px 1px 0px 0px #000, inset 0px 1px 0px 0px #95E376;
	background-color:#2E733A;
	background-image: url("../graphics/noise.png");
	cursor:pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	/*Disable user interaction*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Button has round top */
.button.roundTop{
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
/* Button has round bottom */
.button.roundBottom{
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.button.active{
	background-color:#28C744;
	box-shadow: 0px 1px 0px 0px #000, inset 0px 1px 0px 0px #C0FF9B;
}
.button.inactive{
	background-color:#2E733A;
	box-shadow: 0px 1px 0px 0px #000, inset 0px 1px 0px 0px #95E376;
}
a,a:visited,a:hover{
	color:#D2FFB4;
	text-decoration:none;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
	Describes the position of elements
*/
.left {float:left;}
.right {float:right;}
.visible {display:block;}
.invisible {display:none;}
.pointer {cursor:pointer;}


.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
