#Index {
	width:320px;
	margin:0 auto;
	text-align: center;
}
#Icon {
	padding-top:40px;
	width:128px;
}
#Info {
	font-size:12px;
	font-weight:normal;
}
#GeolocationButton {
	height:42px;
	width:280px;
	margin:0 auto;
	margin-bottom:10px;
}
#GeoCode {
	width:280px;
	margin:0 auto;
	margin-bottom:10px;
}
#GeoCodeInput input {
	box-shadow: 0px -1px 0px 0px #000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:5px;
	height:42px;
	width:180px;
	border:none;
	margin-right:10px;
	font-family:;
	font-size:14px;
	font-weight:;
}
#GeoCodeButton {
	height:42px;
	width:90px;
}