@import url("http://meyerweb.com/eric/tools/css/reset/reset.css");

#Index {
	width:320px;
	margin:0 auto;
	text-align: center;
}
#Icon {
	margin-top:40px;
	margin-bottom:10px;
	width:128px;
}
#Name {
	/* Text details */
	text-align:center;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size:20px;
	color: #D2FFB4;
	text-shadow: 0px -1px #000;
	padding-bottom:20px;
	margin-bottom:20px;
}
#Info {
	/* Text details */
	text-align:center;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	color: #D2FFB4;
	text-shadow: 0px -1px #000;
	margin-bottom:10px;

	font-size:16px;
	font-weight:normal;
}
#GeoLocationButton {
	height:42px;
	width:280px;
	margin:0 auto;
	margin-bottom:10px;
}
#GeoLocationSpin {
	position: relative;
	right:10px;
	top:5px;
	background: #FFF;
	width:32px;
	height:32px;
}
#GeoCode {
	width:280px;
	margin:0 auto;
	margin-bottom:10px;
}
#GeoCodeInput input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
	background-color: #D2FFB5;
	box-shadow: 0px -1px 0px 0px #000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:5px;
	height:42px;
	width:180px;
	border:none;
	margin-right:10px;
	font-family:;
	font-size:14px;
	font-weight:;
}
/* Changes the color of the placegolder text*/
input::-webkit-input-placeholder { color:    #276332; }
input:-moz-placeholder { color:    #276332; }
input:-ms-input-placeholder { color:    #276332;}

#GeoCodeButton {
	height:42px;
	width:90px;
}

#GeolocationButton p{
	position:relative;
	top:12px;
}
#GeoCodeButton p{
	position:relative;
	top:12px;
}
